.page.theme_dark {
  --primary-color: #f1b2ce;
  --default-background-color: #000028;
  --primary-accent-color: #ff0070;
  --secondary-accent-color: #db00ff;
  --header-description-color: #000028;

  background-image: url('../images/cover-image-dark.png');
}

.page.theme_dark .header__theme-menu-button,
.page.theme_dark .content__title {
  color: var(--primary-accent-color);
}

.page.theme_dark .header__theme-menu-button_active,
.page.theme_dark .decorated-zone::before,
.page.theme_dark .decorated-zone::after {
  border-color: var(--primary-accent-color);
}

.page.theme_dark .header__description,
.page.theme_dark .content__block-title {
  color: var(--header-description-color);
}

.page.theme_dark .header__decor-dark {
  position: absolute;
  top: 21px;
  right: 29px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  color: var(--primary-accent-color);
}

.page.theme_dark .header__decor-dark::after {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--primary-accent-color);
  box-shadow: 0 0 4px 2px var(--primary-accent-color);
}

@media (width < 768px) {
  .page.theme_dark .header__decor-dark {
    top: 11px;
    right: 19px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #f1b2ce;
    --default-background-color: #000028;
    --primary-accent-color: #ff0070;
    --secondary-accent-color: #db00ff;
    --header-description-color: #000028;
  }
}
