.page.theme_dark {
  --content-text-color: #f1b2ce;
  --accent-color: #ff0070;
  --section-title-color: #ff0070;
  --section-subtitle-color: #000028;
  --decor-color: #ff0070;
  --secondary-accent-color: #db00ff;
  --menu-button-color: #ff0070;
  --menu-button-hover: rgba(255, 0, 112, 0.4);
  --main-background-image: url('../images/cover-image-dark.png');
  --title-shadow-color: #ff0070;
}

.page.theme_dark .header__decor-dark {
  position: absolute;
  top: 21px;
  right: 29px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  text-transform: uppercase;
}

.page.theme_dark .header__decor-dark::after {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

@media (width < 768px) {
  .page.theme_dark .header__decor-dark {
    top: 11px;
    right: 19px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --content-text-color: #f1b2ce;
    --accent-color: #ff0070;
    --section-title-color: #ff0070;
    --section-subtitle-color: #000028;
    --decor-color: #ff0070;
    --secondary-accent-color: #db00ff;
    --menu-button-color: #ff0070;
    --menu-button-hover: rgba(255, 0, 112, 0.4);
    --main-background-image: url('../images/cover-image-dark.png');
    --title-shadow-color: #ff0070;
  }
}
