.page.theme_light {
  --content-text-color: #353430;
  --accent-color: #ff8dcb;
  --section-title-color: #353430;
  --section-subtitle-color: #353430;
  --decor-color: #353430;
  --secondary-accent-color: #ffc2e6;
  --menu-button-color: #353430;
  --menu-button-hover: rgba(50, 49, 45, 0.4);
  --main-background-image: url('../images/cover-image-light.png');
  --title-shadow-color: #ff0070;
}
