.page {
  color: var(--content-text-color);
  font-family: var(--primary-font-family);
  font-size: var(--default-font-size);
  background-image: var(--main-background-image);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.title {
  color: var(--secondary-accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
}

.title-decor {
  font-weight: 700;
  background-color: var(--accent-color);
}

.link {
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--accent-color);
}

.link:hover {
  text-decoration: underline;
}

.link:focus-visible {
  outline: 1px solid var(--content-text-color);
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: 20px;
  right: 20px;
  border-inline-end: 1px solid var(--decor-color);
  border-block-start: 1px solid var(--decor-color);
}

.decorated-zone::after {
  bottom: 20px;
  left: 20px;
  border-inline-start: 1px solid var(--decor-color);
  border-block-end: 1px solid var(--decor-color);
}

.font-weight-normal {
  font-weight: 400;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 77px;
  min-block-size: 100vh;
}

.header__decor-dark {
  display: none;
}

.header__theme-menu {
  justify-self: center;
  padding-block-start: 19px;
}

.header__theme-menu-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__theme-menu-button {
  display: inline-flex;
  justify-content: center;
  border: none;
  border: 1px solid transparent;
  color: var(--menu-button-color);
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
  min-block-size: 26px;
  min-inline-size: 70px;
}

.header__theme-menu-button:hover {
  border-color: var(--menu-button-hover);
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--menu-button-color);
  outline: none;
}

.header__theme-menu-button_active {
  border-color: var(--menu-button-color);
  pointer-events: none;
}

.header__title {
  align-self: center;
  text-shadow: 4px 4px 0 var(--title-shadow-color);
}

.header__description {
  justify-self: end;
  align-self: baseline;
  margin-inline-end: 20px;
  color: var(--section-subtitle-color);
  line-height: 1.3;
  max-inline-size: 491px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 81px;
  margin-block-end: 61px;
  padding-inline: 20px;
  padding-block-start: 60px;
}

.content__section {
  display: grid;
  grid-template-columns: 34% 66%;
}

.content__section-one-column {
  grid-template-columns: 1fr;
  gap: 20px;
}

.content__section-three-column {
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}

.content__title {
  color: var(--section-title-color);
  line-height: 1.3;
}

.content__subtitle {
  color: var(--section-subtitle-color);
}

.content__section-one-column .content__title {
  max-inline-size: 300px;
}

.content__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.content__list-three-columns {
  grid-template-columns: repeat(3, 1fr);
}

.content__item-title {
  margin-block-end: 10px;
  color: var(--section-subtitle-color);
}

.content__item-text {
  line-height: 1.3;
}

.content__section-advices {
  grid-template-rows: 1fr;
}

.content__section-advices .content__title {
  grid-row: 1 / 8;
}

.gallery__title {
  color: var(--section-subtitle-color);
}

.gallery__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 315px 428px;
  gap: 20px;
  margin-block-start: 20px;
}

.gallery__img:first-child {
  grid-column: span 2;
}

.gallery__img:nth-child(2) {
  grid-row: span 2;
}

.gallery__img:nth-child(3) {
  grid-row: span 2;
}

.gallery__img:nth-child(4) {
  grid-column: span 1;
}

.gallery__img:nth-child(5) {
  grid-column: span 2;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 66px;
  min-block-size: 100vh;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--title-shadow-color);
}

@media (width < 1024px) {
  .header {
    gap: 62px;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: end;
    padding-inline-end: 20px;
    padding-block-start: 0;
  }

  .header__theme-menu-list {
    flex-direction: column;
    margin-block-end: 8px;
  }

  .header__description {
    max-inline-size: 364px;
  }

  .content {
    margin-block-end: 55px;
  }

  .content__section {
    grid-template-columns: 32% 65%;
    gap: 3%;
  }

  .content__section-one-column {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .content__section-one-column .content__title {
    max-inline-size: 236px;
  }

  .content__list-three-columns {
    grid-template-columns: 1fr;
  }

  .content__section-advices {
    gap: 21px;
  }

  .gallery__wrapper {
    grid-template-rows: 192px 230px 318px;
  }

  .footer {
    margin-block-start: 61px;
  }
}

@media (width < 768px) {
  .title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::after {
    bottom: 13px;
    left: 10px;
  }

  .header {
    gap: 50px;
  }

  .header__theme-menu {
    padding-inline-end: 10px;
  }

  .header__theme-menu-list {
    margin-block-end: 15px;
  }

  .header__title {
    padding-inline-start: 10px;
  }

  .header__description {
    justify-self: center;
    margin-inline: 10px;
    margin-block-start: 5px;
    max-inline-size: 100%;
  }

  .content {
    gap: 51px;
    margin-block-end: 42px;
    padding-inline: 10px;
    padding-block-start: 37px;
  }

  .content__section {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }

  .content__section-one-column .content__title {
    max-inline-size: max-content;
  }

  .content__section-advices {
    margin-block-start: 18px;
  }

  .content__section-advices .content__title {
    grid-row: auto;
  }

  .gallery__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    margin-block-start: 11px;
  }

  .gallery__img:first-child,
  .gallery__img:nth-child(2),
  .gallery__img:nth-child(3),
  .gallery__img:nth-child(4),
  .gallery__img:nth-child(5) {
    grid-column: auto;
  }

  .footer {
    margin-block-start: 41px;
  }
}
