.page {
  background-image: url('../images/cover-image-dark.png');
  background-position: center center;
  background-attachment: fixed;
  font-size: var(--default-font-size);
}

.title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--second-color);
}

.title-decor {
  background-color: var(--primary-color);
  font-weight: 700;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  justify-self: end;
  border-block-start: 1px solid var(--primary-color);
  border-inline-end: 1px solid var(--primary-color);
}

.decorated-zone::after {
  margin-block: 31px 10px;
  align-self: end;
  border-block-end: 1px solid var(--primary-color);
  border-inline-start: 1px solid var(--primary-color);
}

.link {
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--primary-color);
}

.link_underline {
  border-bottom: 1px solid var(--primary-color);
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  padding-block-start: 10px;
  padding-block-end: 37px;
}

.header__rec {
  position: absolute;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  top: 10px;
  right: 10px;
  line-height: 1.38;
  color: var(--primary-color);
  text-transform: uppercase;
}

.header__rec::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--primary-color);
  box-shadow: 0 0 4px 2px var(--primary-color);
}

.header__theme-menu {
  justify-self: end;
  margin-block: 39px 70px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.header__theme-menu-item:not(:last-child) {
  margin-block-end: 10px;
}

.header__theme-menu-button {
  padding: 0;
  background-color: transparent;
  color: var(--primary-color);
  line-height: 1;
  border: none;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  padding: 2px 13px;
  pointer-events: none;
  border: 1px solid var(--primary-color);
}

.header__title {
  margin-block-end: 15.3%;
  text-shadow: 4px 4px 0 var(--primary-color);
}

.header__description {
  line-height: 1.3;
  color: var(--dark-color);
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 49px;
  padding-block-start: 40px;
  margin-block-end: 41px;
}

.content__section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 22px;
}

.content__section-three-column {
  gap: 21px;
}

.content__title {
  /* margin-block-end: 22px; */
  color: var(--primary-color);
}

.content__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.content__block {
}

.content__subtitle,
.gallery__title {
  margin-block-end: 10px;
  color: var(--dark-color);
}

.content__subtitle-mb-20 {
  margin-block-end: 20px;
}

.content__section-four-section {
  gap: 21px;
}

.content__text {
  line-height: 1.3;
}

.gallery__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 500px;
}

.footer__title {
  padding-block: 215px;
  text-shadow: 4px 4px 0 var(--primary-color);
}

@media (width >= 768px) {
  .header__theme-menu {
    margin-block: 146px 173px;
  }

  .header__description  {
    max-inline-size: 364px;
    justify-self: end;
  }
}