:root {
  --primary-font-family: 'IBM Plex mono', Arial, Helvetica, sans-serif;

  --default-font-size: 18px;

  --primary-color: #353430;
  --default-background-color: #fff1f7;
  --primary-accent-color: #ff8dcb;
  --secondary-accent-color: #ffc2e6;

  --title-shadow-color: #ff0070;
}
